<!-- Loop over each post object -->
{{!-- allPosts from homeRoutes.Js get("/") --}}
{{#each allPosts as |posts|}}
  <section class="posts-box" id="posts-{{posts.id}}">
    <section class="posts-header">
      <h4 class="posts-title">{{posts.title}}</h4>
      <p class="posts-data-name">Posted by: {{posts.user.username}}</p>
  
        on
        {{posts.post_date}}</p>
    </section>
    <section class="posts-body">
      <p class="posts-text">{{posts.post_text}}</p>
    </section>

  </section>
{{/each}}

<!-- only loged users can add comments -->
{{#if loggedIn}}
  <section class="comment-box" id="comment-box" style="display: none;">
    <div class="comment">
      <textarea class="text-box" placeholder="Add your comment"></textarea>
    </div>
    <div class="btn-comment">
      <button
        class="btn btn-primary"
        id="btn-add-comment"
        type="button"
        name="button"
      >Add Comment</button>
    </div>
  </section>
  <section class="display-comment" id="display-comment">
    <section class="comment-body">
    </section>
{{/if}}

<script src="./js/posts.js"></script>