<!-- Loop over each post object -->
{{#each allPosts as |posts|}}
  <section class="posts-box" id="posts-{{posts.id}}">
    <section class="posts-header">
      <h4 class="posts-title">{{posts.title}}</h4>
      <p class="posts-data-name">Posted by
        {{posts.name}}
        on
        {{posts.post_date}}</p>
    </section>
    <section class="posts-body">
      <p class="posts-text">{{posts.post_text}}</p>
    </section>

  </section>
{{/each}}

<section class="comment-box" id="comment-box" style="display: none;">
  <div class="">
    <textarea class="" placeholder="Note Text"></textarea>
  </div>
  <div class="">
    <button class="btn btn-primary" type="button" name="button">Add Comment</button>
  </div>
</section>

<script src="./js/posts.js"></script>